{% extends "default/index.html.twig" %}

{% block content %}
    <div class="container">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-2"></div>
            <div class="form-group col-8 mt-5">
                {{ form_label(form.description) }}:
                {{ form_widget(form.description, { 'attr': {'class': 'form-control' } }) }}
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-outline-info'} }) }}
            </div>
            <div class="col-2"></div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
