{% extends "default/index.html.twig" %}

{% block content %}
    <div class="container" id="content">
        <div class="row" id="legend">
            <div class="col-lg-12 text-center">

                <p><strong>0</strong> = prawie zawsze
                    <strong>1</strong> = często
                    <strong>2</strong> = przez połowę czasu
                    <strong>3</strong> = czasami
                    <strong>4</strong> = rzadko
                    <strong>5</strong> = nigdy</p>
            </div>
        </div>
        <div class="row" id="questions">
            <div class="col-lg-12 text-center">
                <p>{{ question.text }}</p>

            </div>
        </div>
        {{ form_start(form, {'attr': { 'id': 'answer' } }) }}
        <div class="row" id="answers">
            <div class="col-md-3 text-center">

            </div>
        </div>
        <div class="row" id="nextPrev">
            <div class="col-md-4">
                <button type="submit" class="btn btn-outline-primary" href="/question/{{ id }}/" id="previous">
                    Poprzednie
                </button>
            </div>
            <div class="col-md-4 offset-md-4">
                <button type="submit" class="btn btn-outline-primary" href="/question/{{ id }}/" id="next">Następne
                </button>
            </div>
        </div>
        {{ form_end(form) }}
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="progress">
                    {% set val = id*100/30 %}
                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {{ val }}%"
                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var questionId = {{ id }};
    </script>
{% endblock %}
